@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-decoration: none;
}

html,
body {
  background: linear-gradient(
    -45deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(67, 67, 67, 1) 100%
  );
}

.full {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  padding: 24px;
  border-radius: 8px;
}

.linkedinBtn {
  background-color: #0072b1;
  padding: 8px;
  border-radius: 8px;
  display: table;
  margin-top: 16px;
  font-size: 18px;
}

.text {
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-size: 24px;
  color: white;
}

.text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 24px;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
